/config/app.php
/config/db.php
/last-build.json
/storage/cache/*
/storage/logs/*
/storage/fonts/*
/tmp/*
.impeccable
/docs

!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/fonts/.gitkeep
!/tmp/.gitkeep
